% rebase('base.html')
<h1>{{message}}</h1>
<div class="card" id="aboutCard">
    <!-- PIC 1 SOURCE: https://www.pexels.com/photo/two-person-in-formal-attire-doing-shakehands-886465/ -->
    <img class="aboutImg" src="../static/img/about_cover1.jpg"/>
    <h2 class="aboutH2">Jobs is a new, exciting, job posting service like nothing you've seen before!</h2>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et fermentum neque, sit amet tincidunt dui. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam libero tortor, tincidunt quis varius sit amet, mollis id erat. Ut eu libero vitae nibh elementum elementum. Nullam sed porttitor turpis, et bibendum nulla. Nullam et magna et ex pulvinar gravida. Nulla aliquam eget sem cursus rhoncus. Fusce eu accumsan purus. Morbi iaculis ultrices velit, eget tempor turpis blandit ut. Aliquam vehicula magna a elit consectetur, nec luctus turpis sollicitudin. Sed non nulla quis arcu auctor congue. Maecenas non dolor vestibulum, pharetra tellus et, cursus mi. Suspendisse potenti. Aliquam sed mauris fermentum, elementum nisi ac, feugiat leo. <br><br>

        Ut auctor tortor ultricies urna lobortis varius. Sed vitae ante porta, ultricies leo at, dapibus lacus. Donec et dui ut orci luctus convallis. Morbi ullamcorper efficitur scelerisque. Phasellus vel lectus quam. Vivamus quis ornare lectus. Sed quam ligula, vehicula quis dignissim vitae, mattis ut neque. <br>

    <!-- PIC 2 SOURCE: https://www.pexels.com/photo/adult-business-choices-choosing-515169/ -->
    <img class="aboutImg" src="../static/img/about_cover2.jpg"/>

        Pellentesque efficitur risus ut bibendum egestas. Morbi ut pretium nisl, vel tincidunt neque. Pellentesque eleifend dolor vel vulputate eleifend. Sed consectetur, risus sed posuere dignissim, arcu enim hendrerit ex, sed ultrices nibh lacus ut erat. Nullam sed vehicula metus. Ut faucibus felis sed lacus ultricies congue. Aenean eu nisi sem. Suspendisse varius id ligula sed lobortis. Sed imperdiet metus in erat pulvinar tincidunt. Pellentesque bibendum fermentum elit nec luctus. Curabitur aliquam consectetur urna at accumsan.
    </div>

</div>
