/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Bradley Kenny / 45209723          */

/*
COLOUR SCHEME:
 - BLUE: #4834d4
 - GREEN: #6ab04c
 - RED: #eb4d4b
 - YELLOW: #f9ca24
 - PURPLE: #be2edd
 - TEAL: #22a6b3
*/

/* ======== COMMON ELEMENTS ======== */

html {
    background-color: #efefef;
    font-family: 'Arial';
}

body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    padding-bottom: 150px;
}

p {
    margin: 0px 0px;
    /* text-align: center; */
}

a {
    color: #4834d4;
    text-decoration: none;
}

hr {
	margin: 15px auto;
	border: 1px solid #cdcdcd;
}

/* ======== NAVIGATION BAR / LOGO ======== */

nav {
    background-color: #4834d4;
    width: 100%;
    padding: 5px 0px;
    position: fixed;

    box-shadow: 0px 5px 20px darkgrey;
}

nav h1 {
    font-size: 36px;
    color: white;
    text-align: left;
    margin: 0px;
    margin-top: 2px;
    margin-left: 50px;
    padding: 0px;
	float: left;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
}

nav a {
	color: white;
	text-decoration: none;
}


.job_logo {
    font-family: 'Merriweather';
}

.board_logo {
    font-family: 'Grand Hotel';
    font-size: 48px;
    /* color: #4834d4; */
    /* letter-spacing: -3px; */
}

nav ul {
    float: left;
    margin: 25px 50px 25px 0px;
    display: inline;
}

nav ul a {
    padding: 10px 15px;
    margin-left: 8px;

    color: white;
    text-decoration: none;
    font-size: 14px;

	text-transform: uppercase;
}

nav ul a:hover {
    border-bottom: 2px solid white;
}

nav form {
	float: right;
    margin: 20px 50px 20px 0px;
    display: inline;
}

nav form input[type="text"], nav form input[type="password"] {
	margin-left: 5px;
	padding: 7.5px 10px;

	width: 110px;

	outline: none;
	border: none;
	border-radius: 3px;

	font-size: 14px;
}

nav form input[type="submit"] {
	margin-left: 5px;
	padding: 7.5px 15px;

	outline: none;
	border: none;
	border-radius: 3px;

	background-color: rgba(255,255,255,0.25);
	color: white;
	font-size: 14px;
	text-transform: uppercase;

	cursor: pointer;
}

nav form input[type="submit"]:hover {
	background-color: rgba(255,255,255,0.15);
}

nav form p {
	display: inline;
	color: white;margin-right: 10px;
}

/* ======== MAIN ======== */

#container {
    width: 90%;
    height: 1000px;

    margin-top: 75px;
    padding: 25px 5%;
    float: left;
}

#container h1 {
    text-align: center;
    font-family: 'Pacifico';
    font-weight: normal;
    font-size: 50px;
    color: #333;

    margin-bottom: 30px;
}

#container #searchBar {
    border: none;
    border-radius: 3px;
    outline: none;
    box-shadow: 0px 5px 30px grey;

    margin: auto 25% 100px;
    /* padding: 20px 7.5% 20px 30px; */
    padding: 20px 2%;
    width: 46%; /* change to 42.5% if padding = 7.5% */
    font-size: 16px;
}

/* JOB CARDS */

.card {
    background-color: white;
    width: 40%;
    margin: auto 27.5% 40px;
    padding: 25px 2.5%;
    box-shadow: 0px 5px 20px grey;
    border-radius: 5px;
}
.jobtitle {
    font-weight: bold;
    color: #4834d4;
    cursor: pointer;
	padding-bottom: 5px;
}

.jobtitle:hover {
	color: #3727A1;
}

.company {
    font-weight: bold;
}

.company img, .location img, .time img, .user img {
    margin-right: 3px;
    margin-top: 5px;
    height: 12px;
}

.location, .time {
    /* font-style: italic; */
}

.card div {
    margin: 0px auto;
}

.card .description {
    margin-top: 5px;
	text-align: left;
}

.card .button {
	/* margin: auto auto; */
    margin-top: 15px;
    padding: 10px 7px;
	display: block;
	width: 100px;

    background-color: #4834d4;
    outline: none;
    border: none;
	border-radius: 3px;

    font-size: 14px;
	text-align: center;
    color: #fff;

    cursor: pointer;

	text-transform: uppercase;
}

.card .button:hover {
    background-color: #3727A1;
}

/* ======== ABOUT ======== */

.aboutImg {
    width: 110%;
    display: inline-block;
    margin-bottom: 20px;
}

.aboutImg:first-child {
    margin-left: -5%;
    border-radius: 5px 5px 0px 0px;
    float: left;
}

.aboutImg:last-child {
    float: right;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-right: -5%;
    border-radius: 0px;
}

#aboutCard {
    text-align: justify;
    padding: 0px 2% 2.5%;
}

.aboutH2 {
    font-family: 'Merriweather';
    text-align: center;
}

.mainPageCard .description p, .card .description h2 {
	font-size: 16px;
	text-align: justify;
}

#recog {
	padding-bottom: 50px;
	text-align: center;
    color: #565656;
}


/* ======== NEW JOB CARD ======== */

#postform_card {
	width: 500px;
	margin: auto auto 75px;
	padding-bottom: 35px;
}

#postform {
	padding-left: 3px;
	margin: 0px;
	width: 95%;
}

#wrongpwform {
	margin: 0px;
	width: 280px;
}

#wrongpwform_card {
	width: 300px;
	margin: auto auto 75px;
	padding-bottom: 35px;
}

.wrongpw_h1 {
	text-transform: uppercase;
}

#postform input[type="text"], #postform textarea,
#wrongpwform input[type="text"], #wrongpwform input[type="password"] {
	padding: 12px 10px;

	background-color: rgba(0,0,0,0.1);

	outline: none;
	border: none;
	border-radius: 3px;

	font-size: 14px;
}

#postform .post_title,
#wrongpwform .wrongpw_field {
	margin-top: 15px;
	width: 100%;
}

#postform .post_location, #postform .post_company {
	margin: 0px 0px;
	width: 46%;
	float: left;
	margin-top: 15px;
}

#postform .post_company {
	margin-right: -20px;
}

#postform .post_location {
	margin-left: 0px;
	margin-right: 18px;
}

#postform .post_description {
	margin-top: 15px;
	width: 100%;
	height: 150px;
	resize: none;
}
